    body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  #buscador {
    max-width: 400px;
    margin: 50px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }

  label {
    font-weight: bold;
  }

  select,
  input[type="submit"] {
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
  }

  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }
/* Estilo para los botones de Regresar e Imprimir */
#btn-regresar {
    text-align: center;
    margin-top: 10px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
  }
#print-button {
    text-align: center;
    margin-top: 10px;
  }

  #print-button button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
  }

  #print-button button:last-child {
    background-color: #dc3545;
  }

  #print-button button:hover {
    background-color: #0056b3;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #007bff;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #e0e0e0;
  }

